<!doctype html>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" href="css/dist/is-main.min.css">
   <link rel="stylesheet" href="css/dist/pricing/pricing-overview.min.css">

   <!-- Process Tabs Start -->
   <link rel="stylesheet" href="css/process-steps/bootstrap.css" type="text/css" />
   <link rel="stylesheet" href="css/process-steps/style.css" type="text/css" />
   <link rel="stylesheet" href="css/process-steps/font-icons.css" type="text/css" />
   <!-- Process Tabs Start -->

   <script src="https://app-sj08.marketo.com/js/forms2/js/forms2.min.js"></script>

   <!-- Form Start -->


   <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
   <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
   <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
   <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
   <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
   <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
   <script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js'></script>

   <script src="js/form.js"></script>
   <link rel="stylesheet" href="css/form.css">

   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">


   <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css'>
   <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.0-rc.5/docs.css'>


   <!-- Form End -->




</head>
<body>
<article id="main_body" class="main-body">

   <div class="overview-layout-wrapper" id="vue_app">
      <section id="content">

         <div class="content-wrap">

            <div class="container clearfix">

               <div id="processTabs">
                  <ul class="process-steps process-5 clearfix">
                     <li>
                        <a href="#ptab1" class="i-bordered i-circled divcenter icon-shopping-cart"></a>
                        <h5>Review Cart</h5>
                     </li>
                     <li>
                        <a href="#ptab2" class="i-bordered i-circled divcenter icon-pencil2"></a>
                        <h5>Enter Shipping Info</h5>
                     </li>
                     <li>
                        <a href="#ptab3" class="i-bordered i-circled divcenter icon-pencil2"></a>
                        <h5>Enter Billing Info</h5>
                     </li>
                     <li>
                        <a href="#ptab4" class="i-bordered i-circled divcenter icon-money"></a>
                        <h5>Payment Method</h5>
                     </li>
                     <li>
                        <a href="#ptab5" class="i-bordered i-circled divcenter icon-like"></a>
                        <h5>Order Complete</h5>
                     </li>
                  </ul>
               </div>

               <div class="clear"></div>

               <div class="divider divider-center"><i class="icon-circle"></i></div>

               <div ng-controller="AppCtrl" layout="column" ng-cloak="" class="inputdemoErrors" ng-app="MyApp">

                  <md-content layout-padding="">
                     <form name="projectForm">

                        <md-input-container class="md-block">
                           <label>Client Email</label>
                           <input required="" type="email" name="clientEmail" ng-model="project.clientEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">

                           <div ng-messages="projectForm.clientEmail.$error" role="alert">
                              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                 Your email must be between 10 and 100 characters long and look like an e-mail address.
                              </div>
                           </div>
                        </md-input-container>

                        <div layout-gt-sm="row">
                           <md-input-container class="md-block" flex-gt-sm>
                              <label>Password</label>
                              <input required="" name="password" type="password" ng-model="project.password" md-maxlength="30"/>

                              <div ng-messages="projectForm.password.$error">
                                 <div ng-message="required">Password is required.</div>
                              </div>
                           </md-input-container>
                           <div flex="5" hide-xs hide-sm>
                              <!-- Spacer //-->
                           </div>

                           <md-input-container class="md-block" flex-gt-sm>
                              <label>Confirm Password</label>
                              <input required="" name="confirmPpassword" type="password" ng-model="project.confirmPpassword" md-maxlength="30"/>

                              <div ng-messages="projectForm.confirmPpassword.$error">
                                 <div ng-message="required">Confirm Password is required.</div>
                              </div>
                           </md-input-container>
                        </div>



                        <div layout-gt-sm="row">
                           <md-input-container class="md-block" flex-gt-sm="">
                              <label>Security Question</label>
                              <md-select ng-model="project.state" required>
                                 <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                 </md-option>
                              </md-select>
                           </md-input-container>

                           <div flex="5" hide-xs hide-sm>
                              <!-- Spacer //-->
                           </div>

                           <md-input-container class="md-block" flex-gt-sm>
                              <label>Security Answer</label>
                              <input name="securityAnswer" ng-model="project.securityAnswer" required="" md-maxlength="30" />
                              <div ng-messages="projectForm.securityAnswer.$error">
                                 <div ng-message="required">Security answer is required.</div>
                              </div>
                           </md-input-container>


                        </div>


                        <div layout-gt-sm="row">

                           <md-input-container class="md-block" flex-gt-sm>

                              <a href="/nriservice/personal-address.html" class="btn btn-primary btn-lg" >Register</a>

                           </md-input-container>

                        </div>
                     </form>
                  </md-content>

               </div>
            </div>

         </div>

      </section><!-- #content end -->


      <section id="content1">


      </section>


   </div>




   <section class="blue-contact-container bkgd-blue">
      <div class="row">
         <div class="small-12 columns">
            <h2 class="txt-white text-center">Have questions? We're always here to help.</h2>
         </div>
      </div>
      <div class="row">
         <div class="small-12 large-10 columns large-centered">
            <div class="row collapse">
               <div class="large-6 columns">
                  <div class="contact-call-block">
                     <figure class="contact-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="43" viewBox="0 0 42 43" version="1.1">
                           <title>
                              Phone Icon
                           </title>
                           <desc>
                              White phone icon to call Infusionsoft
                           </desc>
                        </svg>
                     </figure>
                     <h3 class="hdr-lowercase txt-white">Talk to a human</h3>
                     <a href="tel:18668000004" class="btn-secondary-hollow">+1&nbsp;866&nbsp;800&nbsp;0004</a>
                  </div>
               </div>
               <div class="large-6 columns">
                  <div class="contact-chat-block">
                     <figure class="contact-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="43" viewBox="0 0 42 43" version="1.1">
                           <title>
                              Chat icon
                           </title>
                           <desc>
                              Chat Icon to chat with Infusionsoft Sales
                           </desc>
                        </svg>
                     </figure>
                     <h3 class="hdr-lowercase txt-white">Start a live chat</h3>
                     <a id="liveagent_button_online_573j0000000fxSr_pricing" href="javascript://Chat" style="display: none;" onclick="liveagent.startChat('573j0000000fxSr')" class="btn-secondary-hollow">Sales Chat</a>
                     <div id="liveagent_button_offline_573j0000000fxSr_pricing" style="display: none;" class="btn-secondary-disabled">Chat Offline</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</article>





</body>
</html>