@font-face {
    font-family: 'Marker-Felt';
    src: url("/resources/fonts/gh/Marker-Felt.ttf.woff") format('woff'), url("/resources/fonts/gh//Marker-Felt.ttf.svg#Marker-Felt") format('svg'), url("../fonts/Marker-Felt.ttf.eot"), url("../fonts/Marker-Felt.ttf-.eot#iefix") format('embedded-opentype');
    font-weight: normal;
    font-style: normal
}
body {
    background: #3cddb9
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: center;
    color: #fff;
    border-bottom: 1px dashed #fff;
    font-size: 38px;
    width: 700px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 60px
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    overflow-x: hidden;
    font-size: 14px
}
a::hover {
    text-decoration: none!important
}
a::focus {
    text-decoration: none!important
}
ul {
    list-style: none
}
#mainpage .floatsocio {
    position: fixed;
    top: 102px;
    z-index: 2000
}
#mainpage .float {
    position: fixed;
    top: 25px;
    z-index: 2000
}
#mainpage .floatsocio li {
    padding-bottom: 10px
}
#mainpage .floatsocio ul {
    padding: 0
}
#mainpage .reg {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
    padding: 15px 0;
    min-width: 130px;
    margin: 0
}
#mainpage .reg a {
    color: #fff;
    text-decoration: none
}
#mainpage .reg h5 {
    margin: 0
}
#headerpage .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20
}
#headerpage .navbar-wrapper {
    margin-top: 2px
}
#headerpage .navbar-inverse {
    background-color: rgba(36, 18, 1, .8)
}
#headerpage .head li a {
    font-size: 14px;
    color: #fff;
    list-style: none
}
#mainpage {
    background-size: cover;
    height: 780px;
    background-repeat: no-repeat
}
#mainpage .meal {
    background-image: url("http://www.gohomely.com/assets/frontend/css/%3C?php%20echo%20base_url/(IMAGES/");
    %20?%3E/footer/b3.png);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}
#mainpage .meals {
    text-align: center;
    padding: 15px;
    margin: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}
#mainpage .happy {
    position: absolute;
    top: -9%;
    left: 7.5%
}
#mainpage .meal .plan {
    font-weight: 700;
    font-size: 20px;
    color: #fff
}
#mainpage .meal .place {
    color: #fff;
    font-size: 14px;
    font-weight: 700
}
#mainpage .meal .btn-danger {
    font-weight: 700;
    background-color: #e8e95e;
    color: #000;
    font-size: 14px;
    border: 1px solid #e8e95e;
    border-radius: 6px;
    padding: 6px 20px;
    text-align: center
}
#mainpage .meal1 {
    background-image: url("/resources/images/gh/footer/xb3.png.pagespeed.ic.c8U8rhGQHm.png");
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}
#mainpage .meal1 .go {
    font-weight: 700;
    font-size: 20px;
    color: #56931b
}
.goh {
    color: #c3de09;
    font-size: 16px;
    line-height: 1.5
}
#mainpage .meal1 .goho {
    font-weight: 700;
    font-size: 16px;
    color: #737426
}
#mainpage .meal1 .btn-danger {
    font-weight: 700;
    background-color: #67a738;
    color: #fff;
    font-size: 14px;
    border: 1px solid #67a738;
    border-radius: 6px;
    padding: 6px 20px;
    text-align: center
}
#homepage .how p {
    color: #555;
    font-size: 30px;
    font-family: 'Marker-Felt';
    text-align: center;
    margin-bottom: 0
}
#homepage .how hr {
    border-color: #4a9812;
    max-width: 65px;
    border: 1px solid #4a9812;
    margin-top: 0
}
#homepage .green {
    color: #4a9812
}
#homepage .plat {
    background-color: #f5f5f5;
    margin: 5px 0 25px 0;
    padding: 0
}
#homepage .plat p {
    color: #555;
    font-size: 20px;
    padding: 10px 0 0;
    line-height: 1.5;
    text-align: center
}
#homepage blockquote {
    border-left: 10px solid #cbcbcb;
    font-size: 17.5px;
    margin: 0 0 0;
    padding: 10px 10px
}
#homepage .off {
    padding: 0;
    color: #fff;
    text-align: center;
    max-width: 285px;
    min-width: 285px;
    max-height: 390px;
    min-height: 360px;
    background: -webkit-radial-gradient(white -45%, #4a9919, #4a9919);
    background: -o-radial-gradient(white -45%, #4a9919, #4a9919);
    background: -moz-radial-gradient(white -45%, #4a9919, #4a9919);
    background: radial-gradient(white -45%, #4a9919, #4a9919)
}
#homepage .off1 {
    background-image: url("/resources/images/gh/footer/xb3.png.pagespeed.ic.c8U8rhGQHm.png");
    padding: 25px 0 5px 0;
    max-width: 285px;
    min-width: 285px;
    max-height: 390px;
    min-height: 365px
}
#homepage .off a {
    text-decoration: none;
    color: #fff;
    text-align: center
}
#homepage .off ul {
    padding: 0;
    margin-bottom: 0
}
#homepage .ord {
    background-image: url("/resources/images/gh/homepage/xor.png.pagespeed.ic.NKtFxmBpch.png");
    background-repeat: no-repeat;
    color: #000;
    padding: 8px 0 5px 10px;
    text-align: left;
    min-width: 90px;
    font-size: 12pt;
    min-height: 35px;
    margin-top: 15px;
    margin-bottom: 10px
}
#homepage .sub {
    font-size: 18pt
}
#homepage .subm {
    font-size: 26pt
}
#homepage .subo {
    font-size: 40pt
}
#homepage .subv {
    font-size: 14pt
}
#homepage .ord1 {
    background-image: url("/resources/images/gh/homepage/xo.png.pagespeed.ic.UuOeJwE5bT.png");
    background-repeat: no-repeat;
    color: #000;
    padding: 8px 0 5px 10px;
    text-align: left;
    font-size: 12pt;
    min-width: 130px;
    min-height: 35px
}
#homepage .spe {
    background-image: url("/resources/images/gh//homepage/xse.png.pagespeed.ic.agRmHSeF0O.png");
    background-repeat: no-repeat;
    color: #000;
    font-size: 12pt;
    margin: -26px -6px 0 0;
    min-width: 88px;
    max-width: 90px;
    padding: 40px 5px 38px 15px;
    text-align: right;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg)
}
#homepage .off:hover:after {
    border-left: solid transparent 140px;
    border-right: solid transparent 140px;
    border-top: solid #6faa4b 40px;
    top: 365px;
    bottom: 0;
    content: " ";
    height: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    position: absolute;
    max-width: 288px
}
#homepage .ord:hover:after {
    display: none
}
#homepage .ord1:hover:after {
    display: none
}
#homepage .spe:hover:after {
    display: none
}
#homepage .offm {
    padding: 0;
    color: #fff;
    text-align: center;
    max-width: 277px;
    min-width: 230px;
    max-height: 390px;
    min-height: 360px;
    background: -webkit-radial-gradient(white -45%, #4a9919, #4a9919);
    background: -o-radial-gradient(white -45%, #4a9919, #4a9919);
    background: -moz-radial-gradient(white -45%, #4a9919, #4a9919);
    background: radial-gradient(white -45%, #4a9919, #4a9919)
}
#homepage .off2 {
    background-image: url("/resources/images/gh/footer/xb3.png.pagespeed.ic.c8U8rhGQHm.png");
    padding: 25px 0 5px 0;
    max-width: 277px;
    max-height: 360px;
    min-height: 360px
}
#homepage .offm a {
    text-decoration: none!important;
    color: #fff;
    text-align: center
}
#homepage .offm ul {
    padding: 0;
    margin-bottom: 0
}
#homepage .offm:hover:after {
    border-left: solid transparent 115px;
    border-right: solid transparent 115px;
    border-top: solid #6faa4b 30px;
    top: 360px;
    bottom: 0;
    content: " ";
    height: 0;
    left: 0;
    right: 0;
    text-decoration: none!important;
    position: absolute;
    max-width: 288px
}
#homepage .modal-header {
    box-shadow: 1px 0 6px 3px #4bbbe4;
    margin-bottom: 25px;
    padding: 10px 0;
    text-align: center
}
#homepage .modal-dialog {
    max-width: 400px
}
#homepage .fea blockquote {
    border-left: 5px solid #4bbbe4;
    font-size: 17.5px;
    margin: 0 0 0;
    padding: 10px 10px;
    text-align: left;
    line-height: 30px;
    padding-bottom: 15px
}
#homepage .fea h5 {
    min-height: 80px;
    max-height: 80px;
    font-weight: normal;
    line-height: 25px
}
#homepage .fea ul {
    padding: 0;
    text-align: center
}
#homepage .fea .mainh {
    color: #4bbbe4;
    font-size: 13pt
}
#homepage .mainp {
    color: #555;
    font-size: 12pt
}
#homepage .email {
    background-image: url("/resources/images/gh/homepage/xmail.png.pagespeed.ic.kZq2HQUDSP.jpg");
    background-color: #67a53b;
    padding: 35px 25px 10px;
    background-size: cover
}
#homepage .email .btn-danger {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12pt;
    margin-top: 0
}
#homepage .email .form-control {
    font-size: 12pt
}
#homepage .email .mainh {
    color: #4bbbe4;
    font-size: 13pt
}
#homepage .email .mainp {
    color: #000;
    font-size: 12pt
}
#homepage .help {
    background-color: #fff;
    padding: 22px 10px 5px;
    border-radius: 8px;
    max-width: 250px
}
#homepage .fea {
    min-height: 203px;
    border-radius: 30px;
    max-width: 370px;
    min-width: 202px
}
#homepage .fea .btn-danger {
    background-color: #fff;
    border-color: #fff;
    color: #000
}
#homepage .fea h4 {
    color: #fff;
    text-shadow: white 1.1em 1.1em 5.2em;
    min-height: 30px;
    max-height: 30px;
    font-size: 2.5vh
}
#homepage .fea h3 {
    color: #fff;
    padding: 0;
    font-size: 20px
}
#homepage .fea p {
    padding: 40px 0 0
}
#homepage .fea h2 {
    padding: 10px 10px 15px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin: 0
}
#homepage .combo .panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    min-height: 70px
}
#homepage .combo h3 {
    color: #4bbbe4!important;
    font-size: 16pt
}
#homepage .food-name {
    color: #4bbbe4!important;
    font-size: 20px
}
#homepage .orange {
    color: #f7941d
}
#footerpage .foot ul {
    padding: 0
}
#footerpage .qkl ul {
    padding: 0
}
#footerpage .foot {
    font-size: 2.8vh;
    color: #555
}
#footerpage .qkl li a {
    font-size: 2vh;
    line-height: 25px;
    color: #555
}
#footerpage .qk li {
    font-size: 2vh;
    padding-bottom: 10px;
    color: #555
}
#footerpage .qk li a {
    font-size: 2.2vh;
    color: #555
}
#footerpage .qk ul {
    padding: 0
}
#footerpage .qk img {
    padding-right: 10px;
    vertical-align: -10px
}
#footerpage .footer p {
    font-size: 2.4vh;
    margin: 0;
    color: #fff;
    margin-top: 10px
}
#footerpage .footer {
    background-color: #4a9812;
    background-image: url("/resources/images/gh/footer/xb3.png.pagespeed.ic.c8U8rhGQHm.png");
    padding: 15px 0 5px
}
.hidea {
    border: none!important
}
.hidea .text {
    visibility: hidden
}
.grid2 {
    bottom: -50.22%;
    left: 22.43%;
    position: absolute
}
.dbg {
    background-color: rgba(40, 37, 37, .8);
    padding: 15px;
    height: 250px;
    width: 250px;
    margin: 4px
}
.dbg:hover {
    background-color: rgba(23, 107, 137, .86)
}
.dbg p {
    text-align: center;
    margin: 5px 0
}
.dbgtop {
    background-color: rgba(242, 234, 234, .8);
    padding: 15px;
    height: 250px;
    width: 250px;
    margin: 4px
}
.dbgtop:hover {
    background-color: rgba(23, 107, 137, .86)
}
.dbgtop p {
    text-align: center;
    margin: 5px 0;
    color: #000
}
.rotate {
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg)
}
.rotate h2 {
    font-size: 26px;
    font-family: 'Marker-Felt';
    color: #fff;
    letter-spacing: 8px
    margin-left: 16.66666667%;
    margin-top: 16.66%;
}
.micon img {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1)
}
.rotate-wrap {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg)
}
.rotate-wrap .form-control {
    width: 69%;
    margin-left: 15%
}
.bw {
    border: 1px solid #fff
}
.bgr {
    border: 1px solid #abbb73
}
.open>.dropdown-menu1 {
    display: block
}
.dropdown-menu1 {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .176);
    display: none;
    float: left;
    font-size: 14px;
    color: #000!important;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 8px 8px;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
    width: 100%
}
.dropdown-menu1 a {
    color: #000!important
}
.cd {
    position: absolute;
    z-index: 2000
}
.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 300!important;
    opacity: 0!important
}
#myModal-menu .modal-content {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0 none;
    position: relative;
    color: #000
}
#myModal-menu .modal-content::before {
    content: "ÓÅ≤";
    font-family: "Glyphicons Halflings";
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    top: -12px;
    color: #fff;
    left: 11%
}
#myModal-menu .panel-group {
    margin-bottom: 20px;
    margin-top: 20px
}
#myModal-menu .modal-dialog {
    margin-top: 5%!important
}
.happybday {
    left: 12%;
    position: absolute;
    transform: scale(.8)!important
}
.happybdaytoyou {
    position: absolute;
    top: 12%!important;
    transform: scale(.9)!important;
    -webkit-transform: scale(.9)!important;
    margin: auto 10%
}
.happybdaytoyou .dbg {
    background-color: rgba(255, 255, 255, .1);
    height: 180px;
    margin: 4px;
    padding: 15px;
    width: 200px
}
.happybdaytoyou .dbg:hover {
    background-color: rgba(0, 0, 0, .8)
}
.planmd {
    color: #fff;
    font-weight: bold
}
.planmdtop {
    color: #032433;
    font-weight: bold
}
.xs-logo.navbar-brand {
    z-index: -1;
    position: absolute!important;
    top: 0!important
}
.xs-bg {
    background-color: rgba(0, 0, 0, .8)
}
.menu-x {
    background-color: rgba(0, 0, 0, .51)
}
.menu-x label {
    color: #fff
}
.enjoy-css {
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888
}
video {
    position: absolute;
    min-width: 100%
}
.overlay-text {
    bottom: -16%;
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 0%;
    z-index: 500;
    text-shadow: -3px 5px 3px black;
    font-family: Segoe\ Script;
    line-height: 1.5
}
.logscale {
    left: -11px;
    position: absolute;
    top: 66px;
    transform: scale(.8)
}
.brandmob {
    position: absolute;
    transform: scale(.8)
}


/**
 * HTML5 / CSS3 Circle with Partial Border
 * http://stackoverflow.com/q/13059190/1397351
 */
* { margin: 0; padding: 0; }
.circle {
	position: relative;
	margin: 7em auto;
	width: 16em; height: 16em;
	border-radius: 50%;
	background-color: rgba(40, 37, 37, .8);
	margin-right: 30px;

}
.arc {
	overflow: hidden;
	position: absolute;
	top: -1em; right: 50%; bottom: 50%; left: -1em;
	transform-origin: 100% 100%;
	transform: rotate(45deg) skewX(30deg);
}
.arc:before {
	box-sizing: border-box;
	display: block;
	border: solid 1em navy;
	width: 200%; height: 200%;
	border-radius: 50%;
	transform: skewX(-30deg);
	content: '';
}
